accelerate==1.2.1
aenum==3.1.15
aioboto3==13.3.0
aiobotocore==2.16.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aioitertools==0.12.0
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.7.0
anytree==2.12.1
ascii_colors==0.5.2
asttokens==3.0.0
async-timeout==4.0.3
attrs==24.3.0
autocommand==2.2.2
autograd==1.7.0
backports.tarfile==1.2.0
beartype==0.18.5
blinker==1.9.0
boto3==1.35.81
botocore==1.35.81
cachetools==5.5.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.1.1
dgl==2.1.0
distro==1.9.0
dnspython==2.7.0
executing==2.1.0
filelock==3.16.1
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.12.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.20.3
graspologic==3.4.1
graspologic-native==1.2.1
greenlet==3.1.1
gremlinpython==3.7.3
grpcio==1.67.1
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.27.0
hyppo==0.4.0
idna==3.10
importlib_metadata==8.0.0
inflect==7.3.1
ipython==8.31.0
isodate==0.7.2
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-text-splitters==0.3.5
langsmith==0.3.4
lightrag-hku==1.1.4
llvmlite==0.43.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
modules==1.0.0
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
nano-vectordb==0.0.4.3
narwhals==1.29.0
neo4j==5.27.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
ollama==0.4.4
openai==1.58.1
oracledb==2.5.1
orjson==3.10.15
packaging==24.2
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pillow==11.0.0
pipmaster==0.4.0
platformdirs==4.2.2
POT==0.9.5
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.2
psutil==6.1.1
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg-pool==3.2.4
pure_eval==0.2.3
pyarrow==19.0.1
pycocoevalcap==1.2
pycocotools==2.0.8
pycparser==2.22
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.18.0
pymilvus==2.5.1
pymongo==4.10.1
PyMySQL==1.1.1
pynndescent==0.5.13
pyparsing==3.2.0
pyrouge==0.1.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.23.1
s3transfer==0.10.4
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.12.0
seaborn==0.13.2
setuptools==75.6.0
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.36
stack-data==0.6.3
statsmodels==0.14.4
streamlit==1.43.0
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
torch==2.1.2
torchdata==0.10.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.1
typeguard==4.3.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
umap-learn==0.5.7
urllib3==2.3.0
watchdog==6.0.0
wcwidth==0.2.13
wheel==0.43.0
wrapt==1.17.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.19.2
zstandard==0.23.0
